*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  margin: 10px;

}
 section{
   background-color: #e3e4e6;
   width: 65%;
 }

 .info{
   display:inline-block;
   width: 70%;
   font-family: Helvetica;
 }

 h4{
   margin-top: 5px;
   margin-bottom: 10px;
 }

.pic{
  display: inline-block;
}

 img{
   object-fit: cover;
   height:150px;
   width:150px;
   border-radius: 9000px;
   margin-top: 25px;
 }
